62-use-lists-and-maps/.gradle/
        62-use-lists-and-maps/bin/
        62-use-lists-and-maps/build/
        63-exceptions/.gradle/
        63-exceptions/bin/
        64-design-with-maps/.gradle/
        64-design-with-maps/bin/
        65-implement-generic-class/.gradle/
        65-implement-generic-class/bin/
*.class
*.properties
*.lock
*.bin
